<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "6 Artisans" %></title>

    <%= stylesheet_link_tag :application %>
    <%= javascript_include_tag :all %>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-XdYbMnZ/QjLh6iI4ogqCTaIjrFk87ip+ekIjefZch0Y+PvJ8CDYtEs1ipDmPorQ+" crossorigin="anonymous">
  </head>

  <body class="<%= page_classes %>">
    <%= yield %>

    <div class="grid-layout fixed to-top to-left screen-height full-width container">
      <div class="grid-1 full-height"></div>
      <div class="grid-1 full-height"></div>
      <div class="grid-1 full-height"></div>
      <div class="grid-1 full-height"></div>
      <div class="grid-1 full-height"></div>
      <div class="grid-1 full-height"></div>
    </div>
  </body>
</html>
