<!doctype html>
<html>
  <head>
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta charset="utf-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport">

    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= t current_page.data.title || "6 Artisans" %></title>

    <%= stylesheet_link_tag :application %>
    <link href="images/favicon.ico" rel="shortcut icon">
    <script type="text/javascript" async="" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0-beta1/jquery.js"></script>
  </head>

  <body class="<%= page_classes %>">
    <div class="language">
      <a href="http://6artisans.com">
        <img src="images/en-icon.png"/>
        <div class="switch">english</div>
      </a>
    </div>
    <%= yield %>

    <div class="grid-layout fixed to-top to-left screen-height full-width container z-index-2">
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit">0</div>
        <div class="grid-1 grid-layout__unit">1</div>
        <div class="grid-1 grid-layout__unit">2</div>
        <div class="grid-1 grid-layout__unit">3</div>
        <div class="grid-1 grid-layout__unit">4</div>
        <div class="grid-1 grid-layout__unit">5</div>
      </div>
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit t-bold">6</div>
        <div class="grid-1 grid-layout__unit">7</div>
        <div class="grid-1 grid-layout__unit">8</div>
        <div class="grid-1 grid-layout__unit">9</div>
        <div class="grid-1 grid-layout__unit">10</div>
        <div class="grid-1 grid-layout__unit">11</div>
      </div>
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit t-bold">12</div>
        <div class="grid-1 grid-layout__unit">13</div>
        <div class="grid-1 grid-layout__unit">14</div>
        <div class="grid-1 grid-layout__unit">15</div>
        <div class="grid-1 grid-layout__unit">16</div>
        <div class="grid-1 grid-layout__unit">17</div>
      </div>
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit t-bold">18</div>
        <div class="grid-1 grid-layout__unit">19</div>
        <div class="grid-1 grid-layout__unit">20</div>
        <div class="grid-1 grid-layout__unit">21</div>
        <div class="grid-1 grid-layout__unit">22</div>
        <div class="grid-1 grid-layout__unit">23</div>
      </div>
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit t-bold">24</div>
        <div class="grid-1 grid-layout__unit">25</div>
        <div class="grid-1 grid-layout__unit">26</div>
        <div class="grid-1 grid-layout__unit">27</div>
        <div class="grid-1 grid-layout__unit">28</div>
        <div class="grid-1 grid-layout__unit">29</div>
      </div>
      <div class="grid-1 full-height">
        <div class="grid-1 grid-layout__unit t-bold">30</div>
        <div class="grid-1 grid-layout__unit">31</div>
        <div class="grid-1 grid-layout__unit">32</div>
        <div class="grid-1 grid-layout__unit">33</div>
        <div class="grid-1 grid-layout__unit">34</div>
        <div class="grid-1 grid-layout__unit">35</div>
      </div>
    </div>

    <%= javascript_include_tag :all %>
    <%= google_analytics_tag %>
  </body>
</html>
