---
title: Od nápadu k úspěšnému byznysu - 6 Artisans
---
<div class="desktop-menu container fixed to-top full-width screen-height none-events z-index-2 animate-menu">
  <div class="grid-1 all-events p-left-4 p-top-4 full-height relative">
    <% link_to "#" do %>
      <%= image_tag "logo-dark.svg", class: "logo" %>
    <% end %>

    <nav class="p-top-3">
      <ul>
        <li>
          <% link_to "#co-delame", class: "block" do %>
            <span class="f-16 link">Co děláme</span>
          <% end %>
        </li>
        <li>
          <% link_to "#proc-my", class: "block" do %>
            <span class="f-16 link">Proč my</span>
          <% end %>
        </li>
        <li>
          <% link_to "#kdo-jsme", class: "block" do %>
            <span class="f-16 link">Kdo jsme</span>
          <% end %>
        </li>
        <li>
          <% link_to "#reference", class: "block" do %>
            <span class="f-16 link">Reference</span>
          <% end %>
        </li>
        <li>
          <% link_to "#kontakt", class: "block" do %>
            <span class="f-16 link link--red">Kontakt</span>
          <% end %>
        </li>
      </ul>
    </nav>
  </div>
</div>

<div class="section section--without-padding cover grid-6">
  <div class="s-grid-1 m-grid-2 l-grid-2 z-index-1 full-height relative shader--white">&nbsp;</div>
  <div class="s-grid-5 m-grid-3 l-grid-2 relative p-right-2">
    <% link_to "#", class: "mobile-logo absolute animate-menu m-top-4" do %>
      <%= image_tag "logo-dark.svg", class: "logo" %>
    <% end %>

    <h2 class="f-45 m-bottom-2 animate-claim p-top-10">
      Od nápadu<br>
      k úspěšnému <br>byznysu
    </h2>

    <h1 class="f-32 t-bold animate-subclaim">
      Navrhujeme & programujeme<br>
      skvělé webové aplikace
    </h1>
  </div>
  <div class="s-grid-1">&nbsp;</div>
</div>

<div class="grid-6" id="co-delame"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="l-grid-3 m-grid-3">
    <h2 class="f-32 m-bottom-2">Co děláme</h2>
    <p class="f-21 m-bottom-3">
      Specializujeme se na návrh, vývoj a řízení inovativních webových projektů. Velmi úzce pracujeme s potenciálními uživateli, testujeme a prototypujeme, abychom vytvořili produkt, který se bude intuitivně ovládat a uživatelé ho budou mít rádi.
    </p>

    <div class="flex space-between wrap">
      <div class="t-centered m-right-2 p-bottom-3 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "ideation.png", class: "image" %>
        <div class="t-bold c-grey m-top-1">Ideace</div>
      </div>
      <div class="t-centered m-right-2 p-bottom-3 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "prototype.png", class: "image" %>
        <div class="t-bold c-grey m-top-1">Prototypování</div>
      </div>
      <div class="t-centered p-bottom-3 s-grid-6 m-grid-2 l-grid-2">
        <%= image_tag "product.png", class: "image" %>
        <div class="t-bold c-grey m-top-1">Produkt</div>
      </div>
    </div>


  </div>
</div>

<div class="grid-6" id="proc-my"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="l-grid-3 m-grid-3">
    <h2 class="f-32 m-bottom-2">Proč my</h2>
    <p class="f-21">
      Nalezení motivovaného CTO může trvat měsíce, sestavení dobrého technického týmu roky. Mnoha společnostem se to dokonce nikdy nepodaří. Najměte si raději celý sehraný tým, který zvládne vyrobit váš online produkt od začátku do konce.
    </p>
  </div>
</div>

<div class="grid-6" id="kdo-jsme"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="m-grid-3 l-grid-3">
    <h2 class="f-32 m-bottom-2">
      Kdo jsme
    </h2>

    <p class="f-21 m-bottom-2">
      Jsme malý tým s minimálním informačním šumem.
      Stejní lidé, se kterými si podáte ruku na jednání,
      budou vyrábět vaši aplikaci.
    </p>
    <div class="team">
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/tomas.png", class: "image" %>
        <p class="t-bold f-21 team__name">Tomáš Porazil</p>
        <p class="f-16">user experience,<br/> development</p>
      </div>
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/honza.png", class: "image" %>
        <p class="t-bold f-21 team__name">Honza Minárik</p>
        <p class="f-16">software architecture,<br/> development</p>
      </div>
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/david.png", class: "image" %>
        <p class="t-bold f-21 team__name">David Schovanec</p>
        <p class="f-16">frontent development</p>
      </div>
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/josef.png", class: "image" %>
        <p class="t-bold f-21 team__name">Josef Rousek</p>
        <p class="f-16">full-stack development</p>
      </div>
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/jano.png", class: "image" %>
        <p class="t-bold f-21 team__name">Jano Hovančík</p>
        <p class="f-16">backend development</p>
      </div>
      <div class="team__member s-grid-3 m-grid-2 l-grid-2">
        <%= image_tag "team/petra.png", class: "image" %>
        <p class="t-bold f-21 team__name">Petra Špičková</p>
        <p class="f-16">project management</p>
      </div>
    </div>
  </div>
</div>

<div class="grid-6" id="reference"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="l-grid-3 m-grid-3">
    <h2 class="f-32 m-bottom-2">Reference</h2>
    <p class="f-21">
      Přinášíme inovace zavedeným společnostem i&nbsp;start-upům:
    </p>
    <div class="m-top-4 flex wrap center-aligned full-width">
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/slevomat.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/1188.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/hbo.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/sporten.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/miton.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/ignum.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/duha.png", class: "image" %></div>
      <div class="reference t-centered m-bottom-2 p-left-1 p-right-1"><%= image_tag "clients/mikov.png", class: "image" %></div>
    </div>
  </div>
</div>

<div class="grid-6" id="kontakt"></div>
<div class="section grid-6">
  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="m-grid-3 l-grid-3">
    <h2 class="f-32 m-bottom-2">
      Kontakt
    </h2>
    <p class="f-21">
      Fungující komunikace je základním předpokladem úspěšného projektu.
      Používáme Slack, Skype, Hangouts, Viber.
      Rádi se naučíme další způsoby, jak ve firmě komunikujete s dodavateli.
    </p>
  </div>
  <div class="s-grid-0 m-grid-1 l-grid-1">&nbsp;</div>

  <div class="s-grid-0 m-grid-2 l-grid-2">&nbsp;</div>
  <div class="f-21 s-grid-6 grid-2 p-bottom-3">
    <p class="c-grey contact__to-action">
      První konzultace<br/>
      je zdarma.
    </p>
    <%= link_to "napište nám", "mailto:info@6artisans.cz", class: "button" %>
  </div>
  <div class="f-21 s-grid-6 grid-2 p-bottom-3">
    <p class="c-grey contact__to-action">
      Máte problém?<br/>
      Zavolejte.
    </p>
    <p class="t-bold f-32">
      <i class="fa fa-phone"></i> 608 975 978
    </p>
  </div>
</div>
